<thead>
<tr>
    <th>Blocks</th>
    <th>
        Description
        <!--<button class="btn btn-outline-dark" type="button">VIEW ALL</button>-->
    </th>
</tr>
</thead>
<tbody class="appendBlock">
<!--<tr>-->
    <!--<td>-->
        <!--<a href="blockDetail.html"><div class="p-5 bg-gray text-white">Block<br><span class="small-size">73a9821319e16c3</span></div></a>-->
    <!--</td>-->
    <!--<td>-->
        <!--<div>-->
            <!--Mined By <span class="text-blue">Validator</span>-->
        <!--</div>-->
        <!--<div class="text-blue">-->
            <!--[102, 54, 102, 48, 49, 57, 50, 56, 55, 57]-->
        <!--</div>-->
        <!--<div>-->
            <!--Block Reward 10 Dai-->
        <!--</div>-->
    <!--</td>-->
<!--</tr>-->



</tbody>
<script>
    $(document).ready(function(){

        function bin2String(array) {
            var result = "";
            for (var i = 0; i < array.length; i++) {
                result += String.fromCharCode(parseInt(array[i]));
            }
            return result;
        }
        $.ajax({
            type: "get",
            url: "/chains",
            success: function (success) {
                console.log(success);
                var strDOM="";
                success.Blocks.reverse().forEach(function(v,i) {
                    console.log(v);
                    console.log("bin2String : ",bin2String(v.header.validator));

                    let validator=bin2String(v.header.validator);
                    let smalllHash=v.hash.substring(0,15);
                    strDOM += '<tr>\n' +
                        '    <td>\n' +
                        '        <a href="blockDetail.html?hash='+ v.hash+'"><div class="p-5 bg-gray text-white"><img style="width:40px; height:auto" src="images/daios.jpg"><br><span class="small-size">'+smalllHash+'</span></div></a>\n' +
                        '    </td>\n' +
                        '    <td>\n' +
                        '        <div>\n' +
                        '            Mined By <span class="text-blue">Validator</span>\n' +
                        '        </div>\n' +
                        '        <div class="text-blue">\n[' +validator +
                        '        ]</div>\n' +
                        '        <div>\n' +
                        '            Block Reward 10 Dai\n' +
                        '        </div>\n' +
                        '    </td>\n' +
                        '</tr>'
                });

                var $comment_list=$(".appendBlock");
                $comment_list.append(strDOM);
            },
            error: function () {
                console.log("error");
            }


        });
    });


</script>
